<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pizza-Front</title>
</head>
<body>
    <header>
        <div class="main-header">
            <img src="imgs/Logo.svg" alt="" class="logo">
            <nav class="main-navbar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Ranking</a></li>
                    <li><a href="">Promoción</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="contenedor-section">
            <article class="article-delivery">
                <div class="texto-delivery">
                    <h2>Envio gratis <span>comprando</span> 2 pizzas</h2>
                </div>
                <img src="imgs/delivery.svg" alt="" class="img-delivery">
            </article>

            <article class="article-pizza">
                <p>Podio de pizzas</p>
                <h3>Pizzas top 5</h3>
                <ol class="lista-pizzas">
                    <li>1. Muzzarella</li>
                    <li>2. Hawaiana</li>
                    <li>3. Muzzarella J&Morron</li>
                    <li>4. Fugazzeta</li>
                    <li>5. Calabresa</li>
                </ol>
                <img src="imgs/PizzaFalling.svg" alt="" class="img-pizza">
            </article>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <nav class="main-navbar-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Ranking</a></li>
                    <li><a href="#">Promoción</a></li>
                </ul>
            </nav>
            <img src="imgs/Logo.svg" alt="" class="logo">
        </div>
    </footer>
</body>
</html>